body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.left {
  text-align: left;
}

.noteColor {
  background-color: #ECECEC;
  color: black
}

.theadColor {
  background-color: #54B948;
}

.checkBoxRight {
  margin-right: 20px;
}

.tableMarginBtm {
  margin-bottom: 20px;
}